<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% @animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :common_name %><br>
    <%= f.text_field :common_name %>
  </div>
  <div class="field">
    <%= f.label :subspecie %><br>
    <%= f.text_field :subspecie %>
  </div>
  <div class="field">
    <%= f.label :kingdom_id %><br>
    <%= f.number_field :kingdom_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
